<form>
  <div class="form-group">
    <button type="button" class="btn btn-primary">GET ACCESS TOKEN</button>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Token</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Token">
  </div>
</form>
